
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: Roboto,Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

aside{
    width: 15rem;
    height: auto; 
    border: 2px red solid;  

}
aside > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    justify-content: space-evenly;
}
aside > div > i{
    width: 100%;
    height: auto;
    border-radius: 50%;
}